<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>书</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" th:href="@{/css/list.css}">
    <style>
        .btn {
            color: blue;
            background-color: #FFFFFF;
            border: 0px none;
        / / 去边框 font-family: "宋体";
            font-size: 15px;
            text-decoration: underline;
        / / 加下划线
        }

        .btn:hover {
            color: red;
            border: none;
            cursor: hand;
            cursor: pointer;
            text-decoration: underline;
        / / 加下划线
        }

        .btn:focus {
            outline: none;
        / / 去边框
        }
    </style>
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
</head>
<body style="background-image: url(/img/header-app-image.jpg);">
<!-- 头部 -->
<header class="" style="border:none;">
    <nav class="navbar navbar-default" style="background-color:rgba(9,24,39,0.5); border:none;">
        <div class="col-md-1"><a href="#" style="color: #d9534f; font-family: Arial; font-size: 30px;"><strong>Book</strong></a></div>
        <div class="container-fluid col-md-11" style="border:none;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand " th:if="${result.extend.typeId eq 'ALL'}" href="/bookstore/querypaged"
                   style="color: #db6f6a; font-size: 20px;"><strong>All</strong></a>
                <a class="navbar-brand " th:unless="${result.extend.typeId eq 'ALL'}" href="/bookstore/querypaged"
                   style="color: #a6e1ec; font-size: 20px;"><strong>All</strong></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" th:each="type:${result.extend.types}">
                    <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                    <li th:if="${type.bookTypeId != result.extend.typeId}"><a
                            th:href="@{'/bookstore/queryByType?typeId=' + ${type.bookTypeId}}"
                            th:text="${type.bookTypeName}" style="color: #a6e1ec"></a></li>
                    <li th:if="${type.bookTypeId == result.extend.typeId}"><a
                            th:href="@{'/bookstore/queryByType?typeId=' + ${type.bookTypeId}}"
                            th:text="${type.bookTypeName}" style="color: #db6f6a"></a></li>
                </ul>
                <form class="navbar-form navbar-left" method="get" action="/bookstore/queryByName">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default" style="text-decoration:none;">GO</button>
                </form>
                <ul class="nav navbar-nav navbar-right" th:unless="${result.extend.user eq 'NOUSER'}">
                    <li>
                        <a style="color: #a6e1ec; font-size: 20px;" th:href="@{'/customer/userInfo'}" >
                            <strong th:text="${result.extend.user.custName}">Home</strong>
                        </a>
                    </li>
                    <li>
                        <a style="color: #a6e1ec; font-size: 20px;" th:href="@{'/customer/userSignOut'}" >
                            <strong>退出</strong>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" th:if="${result.extend.user eq 'NOUSER'}">
                    <li>
                        <a style="color: #a6e1ec; font-size: 20px;" href="/customer/signUp"><strong>Sign Up</strong></a>
                    </li>
                </ul>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <ul class="nav navbar-nav navbar-right" th:if="${result.extend.user eq 'NOUSER'}">
                    <li>
                        <a style="color: #a6e1ec; font-size: 20px;" href="/customer/signIn"><strong>Sign In</strong></a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
<div id="main">
    <div class="container">
        <!-- 课程列表 -->
        <div class="course-list">
            <div class="course-card-container" th:each="book:${result.extend.pageInfo.list}">
                <div class="course-card">
                    <div class="course-card-top">
                        <a style="text-decoration:none;" th:href="@{'/bookstore/bookDetail?bookId=' + ${book.bookId}}">
                            <span th:text="${book.bookName}" style="font-size: 20px;">书名</span>
                        </a>
                    </div>
                    <div class="course-card-content">
                        <a th:href="@{'/bookstore/bookDetail?bookId=' + ${book.bookId}}" style="text-decoration:none; color: #0f0f0f">
                            <h3>作者:<span th:text="${book.bookAuthor}"></span></h3>
                            <h6 th:if="${book.bookStoreCount le 0}">剩余:<span  style="color: #d9534f;">售空</span></h6>
                            <h6 th:unless="${book.bookStoreCount le 0}">剩余:<span th:text="${book.bookStoreCount}"></span>本</h6>
                        </a>
                        <div class="row" style="margin-top: 40px;">
                            <a style="margin-left: 15px;text-decoration:none;color: #0f0f0f;">价格:<span th:text="${book.bookPrice}"></span></a>
                            <span th:unless="${result.extend.user eq 'NOUSER'}">
                                <a class="btn btn-default glyphicon glyphicon-shopping-cart" th:if="${book.bookStoreCount le 0}" role="button" style="margin-left: 70px;border:none;" disabled="disabled"></a>
                                <a class="btn btn-default glyphicon glyphicon-shopping-cart" th:unless="${book.bookStoreCount le 0}" th:href="@{'/goods/addGoods?bookId='+${book.bookId}}" role="button" style="margin-left: 70px;border:none;"></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="course-card-bk">
                    <img th:src="@{'/img/bk1.jpg'}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!--分页-->
    <div class="row" th:if="${result.extend.typeId} == 'ALL'">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${result.extend.pageInfo.hasPreviousPage}">
                        <a th:href="@{'/bookstore/querypaged?page=1'}">首页</a>
                    </li>
                    <li th:unless="${result.extend.pageInfo.hasPreviousPage}" class="disabled">
                        <a href="#">首页</a>
                    </li>
                    <li th:if="${result.extend.pageInfo.hasPreviousPage}">
                        <a th:href="@{'/bookstore/querypaged?page=' + ${result.extend.pageInfo.prePage}}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:unless="${result.extend.pageInfo.hasPreviousPage}" class="disabled">
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                </ul>
                <ul class="pagination" th:each="item:${result.extend.pageInfo.navigatepageNums}">
                    <li th:if="${item} == ${result.extend.pageInfo.pageNum}" class="active">
                        <a th:href="@{'/bookstore/querypaged?page=' + ${item}}">
                            <span th:text="${item}"></span>
                        </a>
                    </li>
                    <li th:unless="${item} == ${result.extend.pageInfo.pageNum}">
                        <a th:href="@{'/bookstore/querypaged?page=' + ${item}}">
                            <span th:text="${item}"></span>
                        </a>
                    </li>
                </ul>
                <ul class="pagination">
                    <li th:if="${result.extend.pageInfo.hasNextPage}">
                        <a th:href="@{'/bookstore/querypaged?page=' + ${result.extend.pageInfo.nextPage}}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li th:unless="${result.extend.pageInfo.hasNextPage}" class="disabled">
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li th:if="${result.extend.pageInfo.hasNextPage}">
                        <a th:href="@{'/bookstore/querypaged?page=' + ${result.extend.pageInfo.pages}}">末页</a>
                    </li>
                    <li th:unless="${result.extend.pageInfo.hasNextPage}" class="disabled">
                        <a href="#">末页</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- 尾部 -->
<footer class="footer">
    <div class="waper">
        <div class="footerWaper">
            <div class="followus">
                <a href="" class="followus_weixin">
                    <div class="flw-weixin-box"></div>
                </a>
                <a href="" class="followus_weibo"></a>
                <a href="" class="followus_qzone"></a>
            </div>
            <div class="footer_intro">
                <div class="footer_link">
                    <ul>
                        <li><a href="">网站首页</a></li>
                        <li><a href="">企业合作</a></li>
                        <li><a href="">人才招聘</a></li>
                        <li><a href="">联系我们</a></li>
                        <li><a href="">讲师招募</a></li>
                        <li><a href="">常见问题</a></li>
                        <li><a href="">意见反馈</a></li>
                        <li><a href="">慕课大学</a></li>
                        <li><a href="">友情链接</a></li>
                    </ul>
                </div>
                <p>Copyright © 2017 imooc.com All Rights Reserved | 京ICP备 13046642号-2</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>