<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>书</title>
    <!-- 引入样式 -->
    <!--<link rel="stylesheet" th:href="@{/css/details.css}">-->
    <link rel="stylesheet" th:href="@{/css/list.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.min.css}">
    <script th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
</head>
<body style="background-image: url(/img/header-app-image.jpg);">
<!--style="background-image: url(/img/header-app-image.jpg);"-->
<!-- 头部 -->
<header class="" style="border:none;">
    <nav class="navbar navbar-default" style="background-color:rgba(9,24,39,0.5); border:none;">
        <div class="col-md-1"><a href="#" style="color: #d9534f; font-family: Arial; font-size: 30px; text-decoration:none;"><strong>Book</strong></a></div>
        <div class="container-fluid col-md-11" style="border:none;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand " th:if="${result.extend.typeId eq 'ALL'}" href="/bookstore/querypaged"
                   style="color: #db6f6a; font-size: 20px;"><strong>All</strong></a>
                <a class="navbar-brand " th:unless="${result.extend.typeId eq 'ALL'}" href="/bookstore/querypaged"
                   style="color: #a6e1ec; font-size: 20px;"><strong>All</strong></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" th:each="type:${result.extend.types}">
                    <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                    <li th:if="${type.bookTypeId != result.extend.typeId}"><a
                            th:href="@{'/bookstore/queryByType?typeId=' + ${type.bookTypeId}}"
                            th:text="${type.bookTypeName}" style="color: #a6e1ec"></a></li>
                    <li th:if="${type.bookTypeId == result.extend.typeId}"><a
                            th:href="@{'/bookstore/queryByType?typeId=' + ${type.bookTypeId}}"
                            th:text="${type.bookTypeName}" style="color: #db6f6a"></a></li>
                </ul>
                <form class="navbar-form navbar-left" method="get" action="/bookstore/queryByName">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default" style="text-decoration:none;">GO</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a style="color: #a6e1ec; font-size: 20px;" th:href="@{'/customer/userInfo'}" >
                            <strong th:text="${result.extend.user.custName}">Home</strong>
                        </a>
                    </li>
                    <li>
                        <a style="color: #a6e1ec; font-size: 20px;" th:href="@{'/customer/userSignOut'}" >
                            <strong>退出</strong>
                        </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
<div id="main">
    
    <div class="" style="width: 65%; margin: 0 auto; padding: 0px;">
        
        <div class="" style="width: 700px; background-color:#edeff0; margin: 100px auto; margin-bottom: 40px; padding: 30px; border: 1px solid #d9d9d9; box-sizing: border-box; overflow: hidden;">
            <div class="" style="position: relative; float:left; width: 200px; box-sizing: border-box; margin: 0px; padding: 0px;">
                <div class="" style="position: relative; width: 200px; height: 200px; margin: 20px auto; padding: 0px;">
                    <a href="/detail/list.do">
                        <img th:src="@{${result.extend.bookInfo.bookPicture}}" style="width: 100%;height: 100%;cursor: pointer;">
                    </a>
                </div>
            </div>
            <div class="" style="float: right; width: 400px; box-sizing: border-box; margin: 0px; padding: 0px;">
                <div class="" style="margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #d9d9d9;">
                    <h3 th:text="${result.extend.bookInfo.bookName}" style="margin: 0 0 6px 0; color: #0f0f0f"></h3>
                </div>
                <div class="" style="margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid #d9d9d9; color: #737373">
                    <dl>
                        <dt style="float: left">作者:</dt>
                        <dd th:text="${result.extend.bookInfo.bookAuthor}" style="margin-left: 100px;word-wrap: break-word;font-size: 12px;"></dd>
                    </dl>
                    <dl>
                        <dt style="float: left">书籍类型:</dt>
                        <dd th:text="${result.extend.bookTypeInfo.bookTypeName}" style="margin-left: 100px;word-wrap: break-word;font-size: 12px;"></dd>
                    </dl>
                    <dl>
                        <dt style="float: left">出版社:</dt>
                        <dd th:text="${result.extend.bookInfo.bookPress}" style="margin-left: 100px;word-wrap: break-word;font-size: 12px;"></dd>
                    </dl>
                    <dl>
                        <dt style="float: left">出版时间:</dt>
                        <dd th:text="${#dates.format(result.extend.bookInfo.bookPubDate, 'yyyy-MM-dd')}" style="margin-left: 100px;word-wrap: break-word;font-size: 12px;"></dd>
                    </dl>
                    <dl>
                        <dt style="float: left">简介:</dt>
                        <dd th:text="${result.extend.bookInfo.bookDesc}" style="margin-left: 100px;word-wrap: break-word;font-size: 12px;"></dd>
                    </dl>
                </div>
                <div class="price" style="display: inline-block;margin-bottom: 8px;padding: 10px 16px 5px;cursor: pointer;color: #737373;font-size: 18px;">
                    价格：
                    <strong>
                        <span style="margin-right: -8px;color: red;cursor: pointer;font-size: 18px;">￥</span>
                        <span th:text="${result.extend.bookInfo.bookPrice}" style="margin-right: -8px;color: red;cursor: pointer;font-size: 18px;"></span>
                    </strong>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 尾部 -->
<footer class="footer">
    <div class="waper">
        <div class="footerWaper">
            <div class="followus">
                <a href="" class="followus_weixin">
                    <div class="flw-weixin-box"></div>
                </a>
                <a href="" class="followus_weibo"></a>
                <a href="" class="followus_qzone"></a>
            </div>
            <div class="footer_intro">
                <div class="footer_link">
                    <ul>
                        <li><a href="">网站首页</a></li>
                        <li><a href="">企业合作</a></li>
                        <li><a href="">人才招聘</a></li>
                        <li><a href="">联系我们</a></li>
                        <li><a href="">讲师招募</a></li>
                        <li><a href="">常见问题</a></li>
                        <li><a href="">意见反馈</a></li>
                        <li><a href="">慕课大学</a></li>
                        <li><a href="">友情链接</a></li>
                    </ul>
                </div>
                <p>Copyright © 2017 imooc.com All Rights Reserved | 京ICP备 13046642号-2</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>