<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" th:href="@{/css/shopcar.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.min.css}">
</head>
<body>
<!-- header区域 -->
<header class="header">
    <div class="logo"></div>
    <div class="nav">
        <a href="/product/list.do" class="nav__item">课程</a>
        <a href="" class="nav__item nav__item_icon_new">职业路径<i class="icon_new"></i></a>
        <a href="" class="nav__item">实战</a>
        <a href="" class="nav__item">猿问</a>
        <a href="" class="nav__item">手记</a>
    </div>
    <div class="profile">
        <a href="/cart/list.do" class="profile__item profile__car"></a>
        <a href="/browse/list.do" class="profile__item profile__message"></a>
        <a href="" class="profile__item profile__ava"></a>
    </div>
    <div class="search"><input type="text" class="search_input"><a href="" class="search_submit"></a></div>
</header>
<!-- banner区域 -->
<div class="banner">
    <div>我的购物车</div>
</div>
<!-- goods区域 -->
<form action="/order/settlement" id="cartBody" method="post">
    <div class="cart-panel">
        <div class="hd">
            <ul class="order-title">
                <li><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
                <!--<li><input type="checkbox" id="check-all" class="check-all"><span>全选</span></li>-->
                <li class="product">商品名称</li> 
                <li class="total-price">总价</li>
                <li class="unit-price">单价</li>
                <li class="number">数量</li>
                <li class="operate">操作</li>
            </ul>
        </div>
        <div class="bd">
            <ul class="order-list" th:each="goods:${goodsList}">
                <li><input type="checkbox" id="checkbox" class="check" th:name="goodsIds" th:value="${goods.goodsId}"></li>
                <!--<input type="hidden" th:name="goodsIds" th:value="${goods.goodsId}">-->
                <li class="img-box">
                    <a href="#">
                        <img th:src="@{/img/g1.jpg}" alt="">
                    </a>
                </li>
                <li class="product">
                    <a href="#">
                        <span th:text="${goods.bookinfoName}">书名</span>
                    </a>
                </li>
                <li class="total-price">
                    <span class="price-sign"></span>
                    <span class="price-num" th:text="${goods.totalPrice}">总价</span>
                </li>
                <li class="unit-price">
                    <span class="price-sign"></span>
                    <span class="price-num" th:text="${goods.price}">单价</span>
                </li>
                <li class="number">
                    <div class="input-num">
                        <a th:href="@{'/goods/decr?customerId='+${goods.customerId}+'&goodsId='+${goods.goodsId}}">-</a>
                        <input type="text" th:value="${goods.count}" class="num">
                        <a th:href="@{'/goods/incr?customerId='+${goods.customerId}+'&goodsId='+${goods.goodsId}}">+</a>
                    </div>
                </li>
                <li class="operate"><a th:href="@{'/goods/deleteGoods?customerId=' + ${goods.customerId}+'&goodsId=' + ${goods.goodsId}}">删除</a></li>
            </ul>
            <ul class="order-list">
                <!--填写地址-->
                <div class="form-group">
                    <label for="receverName" class="col-sm-2 control-label" style="color: #db6f6a; font-size: 20px;"><strong>收货人姓名</strong></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="receverName" name="receverName" placeholder="收货人姓名">
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="receverAddr" class="col-sm-2 control-label" style="color: #db6f6a; font-size: 20px;"><strong>收货地址</strong></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="receverAddr" name="receverAddr" placeholder="收货地址">
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="receverTel" class="col-sm-2 control-label" style="color: #db6f6a; font-size: 20px;"><strong>收货人电话号码</strong></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="receverTel" name="receverTel" placeholder="收货人电话号码">
                    </div>
                </div>
            </ul>
            <ul class="order-list">
                <!--填写地址-->
                <div class="form-group">
                    <label for="message" class="col-sm-2 control-label" style="color: #db6f6a; font-size: 20px;"><strong>留言</strong></label>
                    <div class="col-sm-10">
                        <textarea class="message" id="message" name="message" rows="3"></textarea>
                    </div>
                </div>
            </ul>
        </div>
    </div>
    <!-- 结算栏 -->
    <div class="pay-bar">
        <button>去结算</button>
    </div>
</form>
<!-- footer区域 -->
<footer class="footer">
    <div class="waper">
        <div class="footerWaper">
            <div class="followus">
                <a href="" class="followus_weixin">
                    <div class="flw-weixin-box"></div>
                </a>
                <a href="" class="followus_weibo"></a>
                <a href="" class="followus_qzone"></a>
            </div>
            <div class="footer_intro">
                <div class="footer_link">
                    <ul>
                        <li><a href="">网站首页</a></li>
                        <li><a href="">企业合作</a></li>
                        <li><a href="">人才招聘</a></li>
                        <li><a href="">联系我们</a></li>
                        <li><a href="">讲师招募</a></li>
                        <li><a href="">常见问题</a></li>
                        <li><a href="">意见反馈</a></li>
                        <li><a href="">慕课大学</a></li>
                        <li><a href="">友情链接</a></li>
                    </ul>
                </div>
                <p>Copyright © 2017 imooc.com All Rights Reserved | 京ICP备 13046642号-2</p>
            </div>
        </div>
    </div>
</footer>
</body>
<script src="./js/shopcar.js"></script>
</html>